<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xupt.reward.project.school.mapper.ProjectTypeMapper">
	<resultMap type="ProjectType" id="ProjectTypeResult">
		<id     property="colId"       column="col_id"      />
		<result property="colName"       column="col_name"      />
		<result property="colType"    column="col_type"   />
		<result property="colIsteach"    column="col_isteach"   />
		<result property="colNote"    column="col_note"   />
		
	</resultMap>
	
	<select id="findAllByType" parameterType="String" resultMap="ProjectTypeResult">
		select * from project_type 
		<if test="colType!=null and colType!=''">where col_type=#{colType}</if>
	</select>
	
	
</mapper>