<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xupt.reward.project.map.mapper.TeacherPaperMapper">
	<resultMap type="TeacherPaper" id="TeacherPaperResult">
		<id     property="colId"       column="col_id"      />
		<result property="colCode"       column="col_code"      />
		<result property="colPname"    column="col_pname"   />
		<result property="colJname"    column="col_jname"   />
		<result property="colJtype"    column="col_jtype"   />
		<result property="colJtypelist"    column="col_jtypelist"   />
		<result property="colJissue"    column="col_jissue"   />
		<result property="colJpage"    column="col_jpage"   />
		<result property="colJsnum"    column="col_jsnum"   />
		<result property="colJsdate"    column="col_jsdate"   />
		<result property="colUorder"    column="col_uorder"   />
		<result property="colAuthorlist"    column="col_authorlist"   />
		<result property="colFactor"    column="col_factor"   />
		<result property="colUnitlist"    column="col_unitlist"   />
		<result property="colNumber"    column="col_number"   />
		<result property="colOrder"    column="col_order"   />
		<result property="colXiaoneinumber"    column="col_xiaoneinumber"   />
		<result property="colXiaoneiorder"    column="col_xiaoneiorder"   />
		<result property="colDate"    column="col_date"   />
		<result property="colTtime"    column="col_ttime"   />
		<result property="colAuditor1"    column="col_auditor1"   />
		<result property="colDepartment1"    column="col_department1"   />
		<result property="colAtime1"    column="col_atime1"   />
		<result property="colStatus1"    column="col_status1"   />
		<result property="colAtxt1"    column="col_atxt1"   />
		<result property="colAuditor2"    column="col_auditor2"   />
		<result property="colDepartment2"    column="col_department2"   />
		<result property="colAtime2"    column="col_atime2"   />
		<result property="colStatus2"    column="col_status2"   />
		<result property="colAtxt2"    column="col_atxt2"   />
		<result property="colAuditor3"    column="col_auditor3"   />
		<result property="colDepartment3"    column="col_department3"   />
		<result property="colAtime3"    column="col_atime3"   />
		<result property="colStatus3"    column="col_status3"   />
		<result property="colAtxt3"    column="col_atxt3"   />
		<result property="colCauditor"    column="col_cauditor"   />
		<result property="colCdepartment"    column="col_cdepartment"   />
		<result property="colCatime"    column="col_catime"   />
		<result property="colCstatus"    column="col_cstatus"   />
		<result property="colCatxt"    column="col_catxt"   />
		<result property="colEvidence"    column="col_evidence"   />
		<result property="colImageurl"    column="col_imageurl"   />
		<result property="colUnitvalue"    column="col_unitvalue"   />
		<result property="colValue"    column="col_value"   />
		<result property="colMoney"    column="col_money"   />
		<result property="colNote"    column="col_note"   />
	</resultMap>
	
	<resultMap type="TeacherPaper" id="TeacherPaperResult2">
		<result property="colPname"    column="col_pname"   />
		<result property="colJname"    column="col_jname"   />
		<result property="colJtype"    column="col_jtype"   />
		<result property="colDate"    column="col_date"   />
		<result property="colMoney"    column="col_money"   />
		<result property="colStatus1"    column="col_status1"   />
		<association property="username" javaType="String">
			<result property="colName"    column="col_name"   />
		</association>
		<association property="userschool" javaType="String">
			<result property="colSchool"    column="col_school"   />
		</association>
	</resultMap>
	
	<select id="findAll" resultMap="TeacherPaperResult2">
		select tp.col_pname,
		tp.col_jname,
		tp.col_jtype,
		tp.col_date,
		u.col_name,
		t.col_school,
		tp.col_money,
		tp.col_status1
		from teacher_paper_map tp 
		left join base_users u on tp.col_code=u.col_code
		left join base_teacher t on u.col_code=t.col_code
		where 1=1
		<if test="colDate!=null and colDate!=''">and tp.col_date like CONCAT('%',#{colDate},'%')</if>
		<if test="colSname!=null and colSname!=''">and t.col_school=#{colSname}</if>
		<if test="colStatus1!=null and colStatus1!=''">and tp.col_status1=#{colStatus1}</if>
		<if test="colType!=null and colType!=''">and tp.col_jtype=#{colType}</if>
		<if test="Money!=null and Money!=''">and tp.col_money>0</if>
	</select>
	
	<!--<select id="selectUserByPhoneNumber" parameterType="String" resultMap="UserResult">-->
		<!--select  u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.phonenumber, u.sex, u.avatar, u.password, u.salt, u.status, u.refuse_des, u.login_ip, u.login_date, u.create_time,-->
       		    <!--d.dept_id, d.parent_id, d.dept_name, d.order_num, d.status as dept_status-->
		<!--from sys_user u-->
			 <!--left join sys_dept d on u.dept_id = d.dept_id-->
			 <!--left join sys_user_role ur on u.user_id = ur.user_id-->
		<!--where u.phonenumber = #{phonenumber}-->
	<!--</select>-->
	<!---->
	<!--<select id="selectUserByEmail" parameterType="String" resultMap="UserResult">-->
		<!--select  u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.phonenumber, u.sex, u.avatar, u.password, u.salt, u.status, u.refuse_des, u.login_ip, u.login_date, u.create_time,-->
       		    <!--d.dept_id, d.parent_id, d.dept_name, d.order_num, d.status as dept_status-->
		<!--from sys_user u-->
			 <!--left join sys_dept d on u.dept_id = d.dept_id-->
			 <!--left join sys_user_role ur on u.user_id = ur.user_id-->
		<!--where u.email = #{email}-->
	<!--</select>-->
	<!---->
	<!--<select id="checkLoginNameUnique" parameterType="String" resultType="int">-->
		<!--select count(*) from sys_user where login_name=#{loginName}-->
	<!--</select>-->
	<!---->
	<!--<select id="checkPhoneUnique" parameterType="String" resultMap="UserResult">-->
		<!--select user_id, phonenumber from sys_user where phonenumber=#{phonenumber}-->
	<!--</select>-->
	<!---->
	<!--<select id="checkEmailUnique" parameterType="String" resultMap="UserResult">-->
		<!--select user_id, email from sys_user where email=#{email}-->
	<!--</select>-->
	<!---->
	<!--<select id="selectUserById" parameterType="Long" resultMap="UserResult">-->
		<!--select  u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.phonenumber, u.sex, u.avatar, u.password, u.salt, u.status, u.refuse_des, u.login_ip, u.login_date, u.create_time,-->
       		    <!--d.dept_id, d.parent_id, d.dept_name, d.order_num, d.status as dept_status-->
		<!--from sys_user u-->
			 <!--left join sys_dept d on u.dept_id = d.dept_id-->
			 <!--left join sys_user_role ur on u.user_id = ur.user_id-->
		<!--where u.user_id = #{userId}-->
	<!--</select>-->
	<!---->
	<!--<delete id="deleteUserById" parameterType="Long">-->
 		<!--delete from sys_user where user_id = #{userId}-->
 	<!--</delete>-->
 	<!---->
 	<!--<delete id="batchDeleteUser" parameterType="Long">-->
 		<!--delete from sys_user where user_id in-->
 		<!--<foreach collection="array" item="userId" open="(" separator="," close=")">-->
 			<!--#{userId}-->
        <!--</foreach> -->
 	<!--</delete>-->
 	<!---->
 	<!--<update id="updateUser" parameterType="User">-->
 		<!--update sys_user-->
 		<!--<set>-->
 			<!--<if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>-->
 			<!--<if test="loginName != null and loginName != ''">login_name = #{loginName},</if>-->
 			<!--<if test="userName != null and userName != ''">user_name = #{userName},</if>-->
 			<!--<if test="email != null and email != ''">email = #{email},</if>-->
 			<!--<if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>-->
 			<!--<if test="sex != null and sex != ''">sex = #{sex},</if>-->
 			<!--<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>-->
 			<!--<if test="password != null and password != ''">password = #{password},</if>-->
 			<!--<if test="salt != null and salt != ''">salt = #{salt},</if>-->
 			<!--<if test="status !=null">status = #{status},</if>-->
 			<!--<if test="refuseDes != null and refuseDes != ''">refuse_des = #{refuseDes},</if>-->
 			<!--<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>-->
 			<!--<if test="loginDate != null">login_date = #{loginDate},</if>-->
 			<!--<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>-->
 			<!--update_time = sysdate()-->
 		<!--</set>-->
 		<!--where 1=1-->
 		<!--<if test="userId != null and userId  != ''">and user_id = #{userId}</if>-->
	<!--</update>-->
 	<!---->
 	<!--<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">-->
 		<!--insert into sys_user(-->
 			<!--<if test="userId != null and userId != 0">user_id,</if>-->
 			<!--<if test="deptId != null and deptId != 0">dept_id,</if>-->
 			<!--<if test="loginName != null and loginName != ''">login_name,</if>-->
 			<!--<if test="userName != null and userName != ''">user_name,</if>-->
 			<!--<if test="email != null and email != ''">email,</if>-->
 			<!--<if test="phonenumber != null and phonenumber != ''">phonenumber,</if>-->
 			<!--<if test="sex != null and sex != ''">sex,</if>-->
 			<!--<if test="password != null and password != ''">password,</if>-->
 			<!--<if test="salt != null and salt != ''">salt,</if>-->
 			<!--<if test="status !=null and status != ''">status,</if>-->
 			<!--<if test="refuseDes != null and refuseDes != ''">refuse_des,</if>-->
 			<!--<if test="createBy != null and createBy != ''">create_by,</if>-->
 			<!--create_time-->
 		<!--)values(-->
 			<!--<if test="userId != null and userId != ''">#{userId},</if>-->
 			<!--<if test="deptId != null and deptId != ''">#{deptId},</if>-->
 			<!--<if test="loginName != null and loginName != ''">#{loginName},</if>-->
 			<!--<if test="userName != null and userName != ''">#{userName},</if>-->
 			<!--<if test="email != null and email != ''">#{email},</if>-->
 			<!--<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>-->
 			<!--<if test="sex != null and sex != ''">#{sex},</if>-->
 			<!--<if test="password != null and password != ''">#{password},</if>-->
 			<!--<if test="salt != null and salt != ''">#{salt},</if>-->
 			<!--<if test="status !=null and status != ''">#{status},</if>-->
 			<!--<if test="refuseDes != null and refuseDes != ''">#{refuseDes},</if>-->
 			<!--<if test="createBy != null and createBy != ''">#{createBy},</if>-->
 			<!--sysdate()-->
 		<!--)-->
	<!--</insert>-->
	
</mapper> 